body {
  overflow: hidden;
}

.homepage-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #4a90e2, #1b082b);
}

.chat-container {
  width: 60%;
  max-height: 80%;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.chat-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ddd;
}

.db-icon {
  margin-right: 0.5rem;
}

.chat-header span {
  font-size: 1.5rem;
  font-weight: bold;
}

.chat-messages {
  flex: 1;
  padding: 1rem;
  overflow-y: auto;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.chat-message {
  padding: 10px;
  margin: 5px 0;
  border-radius: 10px;
  max-width: 60%;
  display: inline-block;
}

.sent {
  background-color: #d4f3ef;
  align-self: flex-end;
  text-align: right;
}

.received {
  background-color: #f3f4f6;
  align-self: flex-start;
  text-align: left;
}

.error {
  background-color: #f8d7da;
  border-color: #f5c6cb;
  color: #721c24;
  align-self: flex-start;
  text-align: left;
}

.message-sender {
  font-weight: bold;
}

.message-time {
  font-size: 0.75em;
  color: #888;
}

.message-text {
  margin-top: 5px;
  word-wrap: break-word;
}

.chat-input {
  display: flex;
}

textarea {
  flex: 1;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 1rem;
}

button {
  padding: 0.5rem 1rem;
  background-color: #4caf50;
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
